@model IEnumerable<Project.Models.Warehouse>
<link href="@Url.Content("~/css/Index.css")" rel="stylesheet">
<style>
    img {
        width: 100px;
        height: 100px;
    }

    .button-container {
        display: flex;
        justify-content: flex-end; /* Align to the right */
        margin-top: 20px; /* Adjust as needed */
    }

        .button-container input[type="submit"] {
            margin-left: 10px; /* Add space between the buttons */
        }

        .button-container p {
            margin: 0; /* Remove default margin */
        }

    form p {
        text-align: center;
    }

    input[type=submit] {
        background-color: #4e73df;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        input[type=submit]:hover {
            background-color: #0337e4;
        }

</style>
<div class="container">
<div class="centered text">
    <h2>Warehouses</h2>
</div>


    <div class="d-sm-flex align-items-center mb-4 horizontal justify-content-between">
        <form asp-action="Index" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" name="searchString" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <div>
            <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Create New</a>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WarehouseId" style="background-color: #0099FF;" class="link-edit">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WarehouseId" style="background-color: #0033CC;" class="link-details">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <div class="button-container">
        <div class="back-btn">
            <div class="submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>